* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--main-font);
  color: var(--secondary-color);
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background);
  font-weight: 500;
  padding: 0.5rem;
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

input {
  background-color: transparent;
  border: none;
  color: white;
}

input:focus {
  outline: none;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
}

button {
  cursor: pointer;
}

hr {
  border: 1px solid var(--hr-color);
}
