.is-active {
  display: flex;
}

.is-hidden {
  display: none;
}

.is-shrink {
  margin: 0 !important;
  background-color: var(--main-background) !important;
  padding: 1rem !important;
}

.is-selected {
  outline: 2px solid var(--secondary-color);
  outline-offset: 1px;
}
